### SQLITE3 사용하기

### Command 사용 
참고> https://www.sqlitetutorial.net/sqlite-commands/ 

1. anaconda prompt 띄우기 
2. sqlite3  test.db 
3. CREATE TABLE person (  \
id integer primary key autoincrement,\
name text not null,\
hakbun integer, \
address text) 

4. INSERT INTO person (name, hakbun, address) \
VALUES ('kim', 1234, 'seoul')

5. .tables          
6. .exit

In [1]:
import sqlite3

sqlite3.version

'2.6.0'

### DB 만들고 연결하기

In [2]:
conn = sqlite3.connect('test.db')

In [3]:
cur = conn.cursor()

### 테이블 생성

In [4]:
cur.execute("DROP TABLE IF EXISTS person")
cur.execute("CREATE TABLE person ( \
           id integer primary key autoincrement,\
           name text not null,\
           hakbun integer, \
           address text)")

### 데이터 입력(Insert)

In [5]:
cur.execute("INSERT INTO person (name, hakbun, address) \
            VALUES ('kim', 1234, 'seoul')")

In [6]:
conn.commit()

### 데이터조회(Select)

In [7]:
cur.execute("select * from person")

In [8]:
rows = cur.fetchall() 
rows

[(1, 'kim', 1234, 'seoul')]

In [9]:
for row in rows:
    print(row)

(1, 'kim', 1234, 'seoul')

### 변수로 데이터 입력하기(Insert)

In [10]:
new_name = 'park'
new_hakbun = 1234
new_address = 'seoul'
cur.execute("INSERT INTO person(name, hakbun, address)  \
                    VALUES (?, ?, ?)", (new_name, new_hakbun, new_address))

In [11]:
cur.execute("select * from person")
rows = cur.fetchall() 
rows

[(1, 'kim', 1234, 'seoul'), (2, 'park', 1234, 'seoul')]

In [12]:
for row in rows:
    print(row)

(1, 'kim', 1234, 'seoul')
(2, 'park', 1234, 'seoul')

In [13]:
for row in rows:
    print("{0} 번째 학생의 이름은 {1} 이고, 학번은 {2} 이며, 주소는 {3} 입니다".format(*row))

1 번째 학생의 이름은 kim 이고, 학번은 1234 이며, 주소는 seoul 입니다
2 번째 학생의 이름은 park 이고, 학번은 1234 이며, 주소는 seoul 입니다

### 특정 값만 조회(Select, Where)

In [14]:
result = cur.execute("SELECT * FROM person WHERE id = 1")
for row in result:
    print(row[0],row[1])

1 kim

### 특정값 변경 (Update)

In [15]:
cur.execute("UPDATE person SET address='pusan' WHERE id = 1")
cur.execute("SELECT * FROM person WHERE id = 1")
cur.fetchall()

[(1, 'kim', 1234, 'pusan')]

### 삭제하기(Delete)

In [16]:
cur.execute("DELETE FROM person WHERE id = 1")

In [17]:
cur.execute("SELECT * FROM person WHERE id = 1")
cur.fetchall()

[]

### Pandas 와 연계

In [18]:
import pandas as pd 
sql = pd.read_sql_query('''SELECT * FROM person''', conn)
df = pd.DataFrame(sql, columns=['id','name','hakbun','address'])
df

   id  name  hakbun address
0   2  park    1234   seoul

In [20]:
df.to_sql('newtable', conn)

In [21]:
cur.execute("select * from newtable")
rows = cur.fetchall() 
rows

[(0, 2, 'park', 1234, 'seoul')]

### 작업후에는 꼭 DB를 닫아야함

In [22]:
conn.close()