### SQLITE3 사용하기

In [12]:
import sqlite3

sqlite3.version

'2.6.0'

### < 연습해보기 > 
한껀식 자동 입력받는 프로그램 만들어보기 

- park, 2000, Boston
- cho, 2001, New York 
- lim, 2002, Orange
- jang, 2003, Seattle

In [ ]:
while menu != 0: 
    if menu == 1: 
        전체조회
    elif menu == 2: 
        입력 
    elif menu == 3: 
        업데이트 
    elif menu == 4: 
        삭제 
    elif menu == 5: 
        특정 아이디 조회
    else: 
        끝

In [15]:
import sqlite3
conn = sqlite3.connect('test.db')
cur = conn.cursor()

In [23]:
def insert_person(name='park', hakbun=1234, address='Boston'):
    cur.execute("INSERT INTO person(name, hakbun, address)  \
                    VALUES (?, ?, ?)", (name, hakbun, address))
    conn.commit()

In [24]:
def delete_person(id):
    cur.execute("DELETE FROM person WHERE id = ?",id)
    conn.commit()

In [25]:
def update_person(id, address):
    cur.execute("UPDATE person SET address=? WHERE id = ?", (address, id))
    conn.commit()

In [26]:
def select_all():
    cur.execute("select * from person")
    rows = cur.fetchall() 
    return rows

In [27]:
def select_one(id):
    cur.execute("select * from person where id=?", id)
    rows = cur.fetchall() 
    return rows

In [31]:
menu = 9

while menu != 0: 
    menu = int(input('메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]'))
    if menu == 1: 
        print(select_all())
    elif menu == 2:
        s = input('입력할 데이터를 name, hakbun, address 순으로 입력하세요(컴마로 구분):')
        insert_person(*s.split(',')) 
    elif menu == 3: 
        u = input('변경할 id, address 순으로 입력하세요(컴마로 구분):')
        update_person(*u.split(','))
        #업데이트 
    elif menu == 4: 
        d = input('삭제할 id을 입력하세요:')
        delete_person(d)
    elif menu == 5:
        sid = input('조회할 id을 입력하세요:')                  
        print(select_one(sid))
        #특정 아이디 조회
    else: 
        break

메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]1
[(1, 'kim', 1234, 'seoul'), (2, 'park', 2000, ' Boston'), (3, 'park', 2000, ' Boston'), (4, '1', 1234, 'Boston')]
메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]4
삭제할 id을 입력하세요:4
메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]1
[(1, 'kim', 1234, 'seoul'), (2, 'park', 2000, ' Boston'), (3, 'park', 2000, ' Boston')]
메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]3
변경할 id, address 순으로 입력하세요(컴마로 구분):3, Seoul
메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]5
조회할 id을 입력하세요:4
메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]5
조회할 id을 입력하세요:3
메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]1
[(1, 'kim', 1234, 'seoul'), (2, 'park', 2000, ' Boston'), (3, 'park', 2000, ' Seoul')]
메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]1
[(1, 'kim', 1234, 'seoul'), (2, 'park', 2000, ' Boston'), (3, 'park', 2000, ' Seoul')]
메뉴를 입력하세요[0:끝내기,1:전체조회,2:입력,3:업데이트,4:삭제,5:특정아이디조회]0