In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col1':[0,1,2,1], 'col2':['book','pen','book','box']})
df

   col1  col2
0     0  book
1     1   pen
2     2  book
3     1   box

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      int64
 1   col2    4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [4]:
pd.get_dummies(df)

   col1  col2_book  col2_box  col2_pen
0     0          1         0         0
1     1          0         0         1
2     2          1         0         0
3     1          0         1         0

In [5]:
df['col1'] = df['col1'].astype(str)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      object
 1   col2    4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [7]:
pd.get_dummies(df)

   col1_0  col1_1  col1_2  col2_book  col2_box  col2_pen
0       1       0       0          1         0         0
1       0       1       0          0         0         1
2       0       0       1          1         0         0
3       0       1       0          0         1         0

In [9]:
### scikit-learn  onehot 함수 
from sklearn.preprocessing import OneHotEncoder

In [12]:
one = OneHotEncoder(sparse=False)
new =one.fit_transform(df)

In [13]:
new

array([[1., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.]])

In [ ]:
one.transform(xxxxx)